<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khoahuy.phototag"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Phototag" >
        <activity
            android:name="com.khoahuy.phototag.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.khoahuy.phototag.ViewImageActivity"
            android:label="@string/title_activity_view_image"
            android:parentActivityName="com.khoahuy.phototag.HomeActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.khoahuy.phototag.HomeActivity" />

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.khoahuy.phototag.SetPreferenceActivity"
            android:label="@string/title_activity_setting" >
        </activity>

        <provider
            android:name="com.khoahuy.database.provider.MyContentProvider"
            android:authorities="com.khoahuy.database.provider.MyContentProvider" />

        <activity
            android:name="com.khoahuy.phototag.DisplayKhoaStatsActivity"
            android:label="@string/title_activity_display_khoa_stats"
            android:parentActivityName="com.khoahuy.phototag.HomeActivity"
            android:screenOrientation="landscape"
             >
            <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.khoahuy.phototag.HomeActivity" />
        </activity>
    </application>

</manifest>